.traffic-lights-container {
  text-align: center;
}

.traffic-lights {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.light {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #cecece;
}
.light:not(:last-child) {
  margin-right: 10px;
}
.traffic-lights-container button {
  padding: 10px 15px;
  background-color: rgb(106, 167, 246);
  border: none;
  border-radius: 5px;
}
