.todo-container {
  max-width: 800px;
  margin: 0 auto;
}
.todo-container .todo-form {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
.todo-container .todo-form input {
  margin-right: 10px;
  width: 100%;
  border-bottom: 1px solid #cecece;
  border-top: none;
  border-left: none;
  border-right: none;
}
.todo-container .todo-form input:focus {
  border-bottom: 1px solid rgb(106, 167, 246);
}
.todo-container .todo-form .btn-add {
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #2d4b72;
  color: #fff;
}
.todo-container .todo-form .btn-add:hover {
  background-color: #6aa7f6;
}
.todo-container .todo-content .todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}
.todo-container .todo-content .todo-item:hover {
  background-color: #263343;
}
.todo-container .todo-content .todo-item:not(:last-child) {
  margin-bottom: 10px;
}
.todo-container .todo-content .todo-item-content {
  display: flex;
  align-items: center;
}
.todo-container .todo-content .todo-item-content .btn-check {
  background: none;
  border: none;
  outline: none;
  color: #cecece;
  font-size: 15px;
  margin-right: 15px;
}

.todo-container .todo-content .todo-item-content .input-edit {
  border: 1px solid rgb(106, 167, 246);
}

.todo-container .todo-content .btn-actions {
  min-width: max-content;
}
.todo-container .todo-content .btn-actions button {
  background: none;
  border: none;
  outline: none;
  color: #cecece;
  font-size: 15px;
}
.todo-container .todo-content .btn-actions .btn-edit {
  margin-right: 10px;
}
.todo-container .todo-content .btn-actions .btn-edit:hover {
  color: lightskyblue;
}
.todo-container .todo-content .btn-actions .btn-delete:hover {
  color: lightcoral;
}
.todo-footer .todo-footer-left {
  margin-top: 50px;
  display: flex;
  justify-content: start;
}
