.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}
.App input {
  background-color: transparent;
  padding: 10px 15px;
  outline: none;
  border-radius: 5px;
  color: #fff;
  /* border: 1px solid #cecece; */
}
.App input:focus {
  box-shadow: none;
  /* border: 1px solid rgb(106, 167, 246); */
}
.App button {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: rgb(106, 167, 246);
  outline: none;
  border: none;
}
.App button:hover {
  border: 1px solid #fff;
  color: #fff;
}
.App main {
  padding: 50px 0;
}
