.App {
  /* background-color: #282c34; */
  background-color: #fff;
  min-height: 100vh;
}
.App input {
  background-color: transparent;
  padding: 10px 15px;
  outline: none;
  border-radius: 5px;
  color: #fff;
  /* border: 1px solid #cecece; */
}
.App input:focus {
  box-shadow: none;
  /* border: 1px solid rgb(106, 167, 246); */
}
.App button {
  cursor: pointer;
}
.App button:hover {
  border: 1px solid #fff;
  color: #fff;
}
.App main {
  /* padding: 50px 0; */
}
